@using lab5.Models
@model IEnumerable<LabModel>
@{
    ViewData["Title"] = "Labs";
}
<h1>@ViewData["Title"]</h1>

<div><a asp-action="Create">Create New</a></div>
<br />
<table class="table">
    <tr><td class="font-weight-bold">Name</td><td class="font-weight-bold">Address</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Address</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>